* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration:none;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;

  margin: 0;
  padding: 0;
}

.header {
  background-color: navy;
  width: 100%;
  height: 75px;
  display: block;
}

.inner-header {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo {
  color: orange;
  font-size:36px;
  font-family:verdana;
  margin: 10px;
  padding-left:9px;
  display: inline-block;
}

.logo-img {
  width: 75px;
  height: 75px;
  background-color: navy;
  float: left;
}

.logo-search {
  vertical-align: top;
  display: inline-block;
  line-height: 25px;
  margin: 25px 14px;
}

.paddingTop15px {
  padding-top: 15px;
}

.paddingLeft10px {
  padding-left: 10px;
}

.gridContainer {
  display: grid;
}

.gridMainTemplate {
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 1em;
}


.gridFracOne {
  grid-column: 1fr;
}

/* ------------------------- Product Overview Module -----------------------------*/

.border {
  border: 1px solid #000000;
}

.widthAuto {
  width: auto;
}

.star {
  display: inline;
  justify-content: center;
  border: 1px solid gray;
}

.p10 {
  padding: 10px;
}

.m20 {
  margin: 20px;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.flexAuto1 {
  flex: 1 1 auto;
}
.flexAuto2 {
  flex: 1 1 auto;
}

.flexGrow1 {
  flex: 1;
}
.flexGrow2 {
  flex: 2;
}
.flexGrow3 {
  flex: 3;
}
.flexGrow4 {
  flex: 4;
}
.flexGrow5 {
  flex: 5;
}
.flexGrow6 {
  flex: 6;
}

#productContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;

}

#productImageView {
  display: flex;
  flex: 1 1 auto;
}

#productView {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-left: 20px;
}

#imgNormalView {
  display: block;
  width: 800px;
  height: 700px;
}


#productDiscContainer {
  display: flex;
}
#productDiscContainer > ul{
  width: auto;
}

/*product details*/

.ratingsComponent {
  margin-bottom: 10px;
}

.origStrike {
  text-decoration: line-through;
}

.salePrice {
  color: red;
  padding-left: 5px;
}
/* Style Component */
.styleThumbnail {
  width: 65px;
  height: 65px;
  border-radius: 4em;
  border: 2px solid black;
  margin-right: 15px;
  margin-bottom: 10px;
}

.selectedStyle {
  background-image: ".img/checkmark.png";
  border: 2px solid gold;
}

.checkmark {
  position: absolute;
  top: 15%;
  left: 65%;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  border-radius: 2em;
  background-color: white;
  padding: 1px;
}

.hiddenEle {
  display: none;
}

.styleButton {
  position: relative;
  border: 0px;
  padding: 0px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* add to bag */
.sizeQtyBarContainer {
  display: flex;
}

#sizeBar {
  flex: 4 1 auto;
  /* max-width: auto; */
  height: 60px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

#qtyBar {
  flex: 1 1 auto;
  /* width: 140px; */
  height: 60px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

#addToBag {
  flex: 5 1 auto;
  height: 60px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

.star {
  flex: 1 1 auto;
  height: 60px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}


/* Product Description*/

.featureCheckmark {
  width: 15px;
}

/* ------------------------- Questions and Answers Module -----------------------------*/

.search-bar {
  position: relative;
  display: flex;
  min-width: 100px;
}

.search {
  border: 1px solid black;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  padding: 2px 30px 2px 5px;
  outline: 0;
  background-color: whitesmoke;
}

.search-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 14px;
}

.question {
  font-weight: bold;
  font-size: larger;
}

.question-helpful {
  float: right;
}

.answer-img {
  max-height: 100px;
  max-width: 100px;
  height: auto;
  width: auto;
}

.accordion-section {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion:hover,
.active {
  background-color: #ccc;
}

.accordian-content {
  overflow: scroll;
<<<<<<< HEAD
  transition: max-height 0.6s ease;
=======
<<<<<<< HEAD
  transition: max-height 0.6s ease;
=======
  transition: max-height 0.6s ease;
  background-color: whitesmoke;
}

.accordion-q-section {
  display: flex;
  flex-direction: column;
}

.accordion-q {
  background-color: #eee;
  color: #444;
  overflow: hidden;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion-q:hover,
.active {
  background-color: #ccc;
}

.accordian-q-content {
  overflow: scroll;
  transition: max-height 0.6s ease;
  /* display: flex;
  position: absolute;
  bottom: 0px;
  background-color: white;  */
}

.chevron {
  margin-left: auto;
  float: right;
  transition: transform 0.6s ease;
}

.chevron-rotate {
  transform: rotate(90deg);
>>>>>>> questions accordion done and fixed count issue
>>>>>>> master
}




/* ------------------------- Reviews and Ratings Module -----------------------------*/

.metadata-sidebar {
  width: 30%;
  display: inline-block;
}
.ratings-title {
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
}
.big-review-btn {
  width: 150px;
  height: 60px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.overall-rating {
  float: left;
  height: 45px;
  font-weight: bold;
  font-size: 40px;
}
.percent-reviews{
  width: 100%;
  font-size: 15px;
}
.reviews {
  width: 65%;
  display: inline;
  float: right;
}
.stars-rating {
  display: inline-block;
  padding: 5px 0 20px 10px;
  height: 15px;
  margin-bottom: 20px;
}
.overall-level {
  background: #074b36;
  height:15px;
  top: 15px;
}
.allstars {
  display: inline;
}
.star-shape {
  display: inline-block;
  margin: 1px;
  height: 15px;
  width: 15px;
  background-color: #aaa;
  clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
  -webkit-clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
}
.starBox {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
}
.starBox p {
  color: #000;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}
.starBox p:nth-child(2) {
  float: right;
  position: relative;
  top: -20px;
}
.starbar {
  background: #aaa;
  padding: 1px;
  box-sizing: border-box;
  border: 1px solid #074b36;
  border-radius: 2px;
}
.starbar-level {
  background: #074b36;
  width: 100%;
  height:8px;
}
.quality {
  display: inline;
}
.slider-shape {
  display: inline-block;
  margin: 1px;
  height: 10px;
  width: 10px;
  bottom: -5px;
  background-color: #333;
  clip-path: polygon(0% 33%, 100% 33%, 50% 100%);
  -webkit-clip-path: polygon(0% 33%, 100% 33%, 50% 100%);
}
.slider {
  float: right;
}
.qualbar {
  background: #aaa;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #074b36;
}
.low-qual {
  font-size: 12px;
  color: #444;
  margin: 0;
  position: relative;
  top: -3px;
}
.high-qual {
  font-size: 12px;
  float: right;
  position: relative;
  top: 2px;
}
.review-cards {
  max-height: 1000px;
  overflow-y: scroll;
}
.review-head {
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 20px;
  width: 100%;
  display: inline;
}
.review-info {
  float: right;
  font-size: 12px;
}
.review-summary {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}
.review-body {
  font-size: 15px;
  margin-bottom: 10px;
}
.review-img-small {
  max-height: 75px;
  max-width: 75px;
  height: auto;
  width: auto;
  margin: 10px;
  cursor: zoom-in;
}
.review-img-large {
  max-height: 400px;
  height: auto;
  width: auto;
  margin:5px;
  cursor: zoom-out;
}
.modal-content {
  box-shadow: 0 8px 6px black;
  position: static;
}
.review-response {
  font-size: 15px;
  background-color: #aaa;
  padding: 10px;
}
.review-help {
  font-size: 12px;
  padding: 15px 0;
  width: 100%;
  border-bottom: 2px solid #888;
  margin-bottom: 15px;
}
.modal-footer button {
  display: block;
  font-size: 1rem;
  margin-right: auto;
  padding: 0.5rem 1.8rem;
  background: #074b36;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}