* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration:none;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  grid-column: 1 / 9;
  grid-row: 1;
  background-color: navy;
  width: 100%;
  height: 75px;
  display: block;
}

.inner-header {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo {
  color: orange;
  font-size:36px;
  font-family:verdana;
  margin: 10px;
  padding-left:9px;
  display: inline-block;
}

.logo-img {
  width: 75px;
  height: 75px;
  background-color: navy;
  float: left;
}

.logo-search {
  float: right;
  vertical-align: top;
  display: inline-block;
  line-height: 25px;
  margin: 25px 14px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.gridFracOne {
  grid-column: 1fr;
}

/* ------------------------- Product Overview Module -----------------------------*/

.border {
  border: 1px solid #000000;
}

.star {
  display: inline;
  justify-content: center;
  border: 1px solid gray;
}

.p10 {
  padding: 10px;
}

.m20 {
  margin: 20px;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.flexAuto1 {
  flex: 1 1 auto;
}
.flexAuto2 {
  flex: 1 1 auto;
}

#productContainer {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: stretch;

}

#productImageView {
  display: flex;
  flex: 1 1 auto;
}

#productView {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto
}

#imgNormalView {
  width: 750px;
}

#sizeBar {

}

#addToBag {
  display: flex;
  margin-right: 10px;
  border: 1px solid gray;
}

#addToBag span, .star {
  padding: 10px;
}

#productDiscContainer {
  grid-row: 3;
}





/* ------------------------- Questions and Answers Module -----------------------------*/






/* ------------------------- Reviews and Ratings Module -----------------------------*/
