* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration:none;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  /* background-color: navy; */
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
}

.navSubmit {
  background-color: black;
  color: white;
}

.logo {
  color: darkgreen;
  font-size:48px;
  /* font-family:verdana; */
  font-family: 'Arial', sans-serif;
  margin: 10px;
  padding-left:9px;
  display: inline-block;
}

.logo-img {
  width: 75px;
  height: 75px;
  background-color: navy;
  float: left;
}

.logo-search {
  vertical-align: top;
  display: inline-block;
  line-height: 25px;
  margin-top: 25px;
}

.paddingTop15px {
  padding-top: 15px;
}

.paddingLeft10px {
  padding-left: 10px;
}

.gridContainer {
  display: grid;
}

.gridMainTemplate {
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 1em;
}

.gridFracOne {
  grid-column: 1fr;
}

.flex {
  display: flex;
}

.alignCenter {
  justify-content: center;
}

/* ------------------------- Product Overview Module -----------------------------*/

.border {
  border: 1px solid #000000;
}

.widthAuto {
  width: auto;
}

.star {
  display: inline;
  justify-content: center;
}

.p10 {
  padding: 10px;
}

.m20 {
  margin: 20px;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.flexAuto1 {
  flex: 1 1 auto;
}
.flexAuto2 {
  flex: 1 1 auto;
}

.flexGrow1 {
  flex: 1;
}
.flexGrow2 {
  flex: 2;
}
.flexGrow3 {
  flex: 3;
}
.flexGrow4 {
  flex: 4;
}
.flexGrow5 {
  flex: 5;
}
.flexGrow6 {
  flex: 6;
}

#productContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;

}

#productImageView {
  display: flex;
  flex: 1 1 auto;
}

#productView {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 1 auto;
  margin-left: 20px;
}

.expandedImgSlideView {
  position: absolute;
  top: 0px;
  z-index: -1;
  left: -20px;
  width: 500px;
  height: 700px;
  overflow: hidden;
}

.expandedImgSlide {
  position: absolute;
  z-index: 99;
  height: 1600px;
  width: 1400px;
}

.zIndex9 {
  z-index: 9;
}

.hiddenImgSlide {
  position: absolute;
  z-index: 99;
  height: 1600px;
  width: 1400px;
  left: -1400px;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}

#productDiscContainer {
  display: flex;
  padding: 30px;
}
#productDiscContainer > ul{
  width: auto;
}

/* img normal view */

#imgSlider {
  position: relative;
  width: 800px;
  background-color: yellow;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
}

.imgNormalSlide{
  float: left;
  margin: 0px;
  padding: 0px;
  height: 700px;
  width: 800px;
  cursor: zoom-in;
  position: relative;
}

.imgContainer {
  background-color: pink;
  height: 700px;
  display: flex;
  align-items: center;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}

.rightArrow {
  position: absolute;
  background-color: rgba(128, 125, 125, 0.76);
  border-radius: 2em;
  top: 45%;
  left: 90%;
  width: 50px;
  opacity: 75%;
}

.leftArrow {
  position: absolute;
  background-color: rgba(128, 125, 125, 0.76);
  border-radius: 2em;
  width: 50px;
  top: 45%;
  left: 80px;
  transform: rotate(180deg);
  opacity: 75%;
}

.mainImgThumbnailSlider {
  position: absolute;
  width: 80px;
  height: 515px;
  margin-top: auto;
  top: 13%;
  left: 0px;
  overflow: hidden;

}

.mainImgThumbnailContainer {
  position: absolute;
  width: 80px;
  top: 0px;
  height: 520px;
  background-color: transparent;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}

.mainImgThumbnailButton {
  position: absolute;
  border: none;
  width: 65px;
  height: 65px;
  left: 5px;
  background-color: transparent;
  outline: none;
}

.thumbnailArrowButton {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 13px;
  outline: none;
  border: none;
  background-color: transparent;
}

.thumbnailArrow {
  width: 50px;
  height: 50px;
  left: 13px;
}

.thumbnailArrowUpper {
  top: 6%;
}
.thumbnailArrowLower {
  top: 87%;
}

.rotate180 {
  transform: rotate(180deg);

}

.mainImgThumbnail {
  /* position: absolute; */
  /* border: 3px black solid; */
  width: 65px;
  height: 65px;
  cursor: pointer;
  /* left: 10px; */
  /* filter: grayscale(100%); */
}

.noGrayscale {
  filter: grayscale(0%);
}

.highlight {
  border: 3px gold solid;
}

/*product details*/

.ratingsComponent {
  margin-top: 10px;
}

.origStrike {
  text-decoration: line-through;
}

.salePrice {
  color: red;
  padding-left: 5px;
}
/* Style Component */
.styleThumbnail {
  width: 65px;
  height: 65px;
  border-radius: 4em;
  border: 2px solid black;
  margin-right: 15px;
  margin-bottom: 10px;
}

.selectedStyle {
  background-image: ".img/checkmark.png";
  border: 2px solid gold;
}

.checkmark {
  position: absolute;
  top: 15%;
  left: 65%;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  border-radius: 2em;
  background-color: white;
  padding: 1px;
}

.hiddenEle {
  display: none;
}

.styleButton {
  position: relative;
  border: 0px;
  padding: 0px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* add to bag */
.sizeQtyBarContainer {
  display: flex;
}

#sizeBar {
  flex: 4 1 auto;
  /* max-width: auto; */
  height: 60px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

#qtyBar {
  flex: 1 1 auto;
  /* width: 140px; */
  height: 60px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

#addToBag {
  flex: 5 1 auto;
  height: 60px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

.star {
  flex: 1 1 auto;
  height: 60px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}


/* Product Description*/

.featureCheckmark {
  width: 15px;
}

/* ------------------------- Questions and Answers Module -----------------------------*/

.search-bar {
  position: relative;
  display: flex;
  min-width: 100px;
}

.title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: lighter;
  padding-bottom: 15px;
}

.search {
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  padding: 20px 10px 20px 20px;
  outline: 0;
  background-color: whitesmoke;
  /* text-transform: uppercase; */
  font-size: 15px;
  font-weight: bold;
}

.search-top {
  padding-bottom: 15px;
}

.answer-list {
  padding-top: 5px;
}

.answer-body {
  margin-top: 50px;
}

.user-info {
  margin-left: 22px;
  margin-top: 15px;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: lighter;
}

.user-info-date, .user-info-helpful {
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: lighter;
}

.user-info-click, .question-helpful-click {
  text-decoration: underline;
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: lighter;
}

.search-icon {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 14px;
}

.question {
  font-weight: bold;
  font-size: larger;
  /* padding-top: 25px; */
  /* margin-top: 35px; */
}

.answer-letter {
  font-weight: bold;
  font-size: larger;
}

.answer-entry {
  height: auto;
  position: relative;
}

.question-helpful {
  float: right;
  font-size: 13px;
  font-weight: lighter;
}

.answer-img {
  max-height: 100px;
  max-width: 100px;
  height: auto;
  width: auto;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 22px;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 5px;
}

.upload-photo {
  max-height: 100px;
  max-width: 100px;
  height: auto;
  width: auto;
}

.accordion-section {
  display: flex;
  flex-direction: column;
}

.accordion-a {
  background-color: transparent;
  background-repeat: no-repeat;
  /* overflow: hidden; */
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  margin-right: auto;
}

.accordion:hover,
.active {
  background-color: #ccc;
}

.accordion-a-content {
  overflow: scroll;
  transition: max-height 0.6s ease;
  background-color: whitesmoke;
}

.accordion-q-section {
  display: flex;
  /* display: inline-block; */
  flex-direction: column;
  justify-content: space-between;
}

.accordion-q {
  background-color: whitesmoke;
  color: #444;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  transition: background-color 0.6s ease;
  margin-right: auto;
  width: 200px;
  height: 60px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border: 1px;
  margin-top: 20px;
}

.accordion-q:hover,
.active {
  background-color: #ccc;
}

.accordian-q-content {
  overflow: scroll;
  transition: max-height 0.6s ease;
  background-color: whitesmoke;
  /* display: flex;
  position: absolute;
  bottom: 0px;
  background-color: white;  */
}

.chevron {
  margin-left: auto;
  float: right;
  transition: transform 0.6s ease;
}

.chevron-rotate {
  transform: rotate(90deg);
}

.accordion-a:hover,
.add-question:hover,
.active {
  background-color: #ccc;
}

.accordion-q-content {
  overflow: scroll;
  transition: max-height 0.6s ease;
  background-color: whitesmoke;
}

.accordion-a-title {
  width: 150px;
  height: 30px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.chevron {
  margin-left: auto;
  float: right;
  transition: transform 0.6s ease;
}

.chevron-rotate {
  transform: rotate(90deg);
  margin-left: auto;
  float: right;
}

.modal-a, .modal-q {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal-a-content, .modal-q-content {
  background-color: whitesmoke;
  margin: 20% auto;
  padding: 20px;
  width: 600px;
  min-width: 300px;
  min-height: 300px;
  text-align: center;
}

.modal-a-header, .modal-q-header {
  padding: 10px;
}

.modal-a-footer, .modal-q-footer {
  padding: 10px;
  margin-top: 10px;
}

.modal-a-title, .modal-q-title {
  margin: 0;
}

.modal-a-body, .modal-q-body {
  padding: 10px;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

.add-question {
  width: 200px;
  height: 60px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: 1px;
  transition: background-color 0.6s ease;
  color: #444;
  background-color: whitesmoke;
}

.disclaimer {
  font-size: 13px;
  margin-top: 3px;
}

.input-email {
  width: 235px;
}

.modal-name, .submit {
  margin-top: 10px;
  margin-bottom: 10px;
}

.close-q-btn {
  color: rgba(0, 0, 0, 0.79);
  float: right;
  font-size: 30px;
  border: none;
  background-color: whitesmoke
}

.submit-ques {
  margin-top: 10px;
}

.close-a-btn {
  color: rgba(0, 0, 0, 0.79);
  float: right;
  font-size: 30px;
  border: none;
  background-color: whitesmoke
}



/* ------------------------- Reviews and Ratings Module -----------------------------*/

.metadata-sidebar {
  width: 25%;
  display: inline-block;
}
.reviews {
  width: 70%;
  display: inline;
  float: right;
}
.ratings-title {
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
}
.overall-rating {
  float: left;
  height: 45px;
  font-weight: bold;
  font-size: 40px;
}
.percent-reviews{
  width: 100%;
  font-size: 15px;
}
.stars-rating {
  display: inline-block;
  padding: 5px 0 20px 10px;
  height: 15px;
  margin-bottom: 20px;
}
.overall-level {
  background: #074b36;
  height:15px;
  top: 15px;
}
.allstars {
  display: inline;
}
.star-shape {
  display: inline-block;
  margin: 1px;
  height: 15px;
  width: 15px;
  background-color: #aaa;
  clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
  -webkit-clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
}
.starBox {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
}
.starBox p {
  color: #000;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}
.starBox p:nth-child(2) {
  float: right;
  position: relative;
  top: -20px;
}
.starbar {
  background: #aaa;
  padding: 1px;
  box-sizing: border-box;
  border: 1px solid #074b36;
  margin-left: 5px;
}
.starbar-level {
  background: #074b36;
  width: 100%;
  height: 8px;
}
.quality {
  display: inline;
}
.slider-shape {
  display: inline-block;
  margin: 1px;
  height: 10px;
  width: 10px;
  bottom: -5px;
  background-color: #333;
  clip-path: polygon(0% 33%, 100% 33%, 50% 100%);
  -webkit-clip-path: polygon(0% 33%, 100% 33%, 50% 100%);
}
.slider {
  float: right;
}
.qualbar {
  background: #aaa;
  padding: 2px;
  height: 4px;
  box-sizing: border-box;
  border: 1px solid #074b36;
  border-radius: 4px;
  margin-left: 5px;
}
.low-qual {
  font-size: 12px;
  margin-left: 5px;
  position: relative;
  top: -3px;
}
.high-qual {
  font-size: 12px;
  float: right;
  position: relative;
  top: 2px;
}
.review-cards {
  max-height: 600px;
  overflow-y: scroll;
}
.review-head {
  font-size: 15px;
  padding: 0 0 20px;
  width: 100%;
  display: inline;
}
.sort-options {
  border: none;
  border-bottom: 2px solid #000;
  font-size: 15px;
}
.review-info {
  float: right;
  font-size: 12px;
  margin-right: 20px;
}
.review-summary {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}
.review-body {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 0 20px;
}
.review-img-small {
  max-height: 75px;
  max-width: 75px;
  height: auto;
  width: auto;
  margin: 5px;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 5px;
  cursor: zoom-in;
}
.review-img-small:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.review-img-large {
  max-height: 400px;
  height: auto;
  width: auto;
  margin:5px;
  cursor: zoom-out;
}
.pic-modal-content {
  box-shadow: 0 8px 6px black;
  position: static;
}
.pic-modal-footer button {
  display: block;
  font-size: 18px;
  margin-right: auto;
  padding: 5px 15px;
  background: #074b36;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.recommend {
  font-size: 15px;
  padding: 5px;
  margin-bottom: 10px;
}
.review-response {
  font-size: 15px;
  background-color: #aaa;
  padding: 15px 10px;
}
.response-header {
  font-weight: bold;
  margin-bottom: 10px
}
.response-body {
  padding: 10px;
}
.review-help {
  font-size: 12px;
  padding: 15px 0;
  width: 100%;
  border-bottom: 2px solid #888;
  margin-bottom: 15px;
}
.review-help .clickable {
  text-decoration: underline;
  border: none;
  font-size: 12px;
  background-color: #fff;
}
.clickable:hover {
  cursor: pointer;
}
.big-review-btn {
  width: 150px;
  height: 60px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

/* ------------------------- Add Review Modal -----------------------------*/
.add-modal {
  /* display: none; */
  position: fixed;
  z-index: 5;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.add-modal-content {
  background-color: bisque;
  margin: 20% auto;
  padding: 20px;
  width: 65%;
  min-height: 400px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgb(0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}
@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}
.add-modal-header h1 {
  text-align: center;
  font-size: 24px;
}
.add-modal-header h3 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
.new-review {
  width: 65%;
  float: left;
}
.close-modal-btn{
  color: #000;
  float: right;
  font-size: 30px;
  border: none;
  background-color: bisque;
}
.data-input {
  margin: 5px;
  font-size: 14px;
  width: 150px;
}
.input-box {
  margin-right: 20px;
  height: 15px;
  width: 65%
}
.disclaimer-review {
  font-size: 11px;
  margin-left: 15px;
}
.data-recommend {
  margin: 5px;
  font-size: 14px;
  width: 50%;
  text-align: end;
}
.radio-recommend {
  display: inline;
  margin: 5px;
  font-size: 12px;
}
.input-review {
  margin-right: 20px;
  height: 100px;
  width: 100%
}
.new-review-sidebar {
  width: 30%;
  height: 100%;
  float: right;
}
.star-meaning {
  font-size: 12px;
  text-align: start;
}
.radio-qual {
  margin: 0 5px;
}
.radio-qual-list {
  float: right;
  margin-right: 25px;
}
.radio-char-btn {
  margin: 0 5px;
}
.low-qual-add {
  font-size: 12px;
  width: 30%;
  text-align: end;
  top: -3px;
}
.high-qual-add {
  font-size: 12px;
  float: right;
  position: relative;
  top: -3px;
}
.add-modal-footer {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
